/** default html **/

	html {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	}
	
	body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	}
	
	.body {
	background-image: linear-gradient(rgb(248,217,204), rgb(252,237,233));
	background-repeat: no-repeat;
	background-attachment: fixed;
	}

	html, body {
	height: 100%;
	width: auto;
	}
	
	div {
	display: block;
	margin: auto;
	padding: 0;
	}
	
	section {
	margin: 0;
	padding: 0;
	}
	
	hr {
	margin: 0 0 1em 0;
	padding: 0;
	border: none;
    border-bottom: 1.5px solid rgba(248, 160, 129, 0.4);
	}
	
	
/** webfonts **/


/** type **/

	h1 {
	margin: 0;
	padding: 0;
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-size: 4em;
	}
	
	h2 {
	margin: 0 0 3em 0;
	padding: 0;
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-size: 3.2em;
	text-align: center;
	}
	
	h3 {	
	margin: 0 0 0.5em 0;
	padding: 0;
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-size: 1.4em;
	text-align: left;
	}
	
	h3.intro {
	margin: 0 0 4em 0;
	text-align: center;
	}
	
	h4 {	
	margin: 0 0 0.5em 0;
	padding: 0;
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-size: 1.4em;
	line-height: 1.4;
	}
	
	p {
	margin: 0 0 1em 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.4;
	}
	
	p.intro {
	margin: 0 0 1em 0;
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-size: 1.8em;
	line-height: 1.2;
	}
	
	span {
	margin: 0;
	padding: 0;
	}
	
	table {
	margin: 0 0 4em 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
	border: 1.5px solid #f8a081;
	border-collapse: collapse;
	}
	
	th {
	width: ;
	padding: 1em;
	font-family: 'Space Mono', monospace;
	font-style: italic;
	font-weight: 400;
	font-size: 1em;
	line-height: 1;
	text-align: left;
	text-decoration: underline;
	border: 1.5px solid #f8a081;
	border-collapse: collapse;
	}
	
	td {
	padding: 1em;
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	font-size: 1em;
	line-height: 1;
	border: 1.5px solid #f8a081;
	border-collapse: collapse;
	}
	
	a.link {
	text-decoration: none;
	color: #f8a081;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	}
	
	a.link:hover {
	text-decoration: underline;
	color: #fff;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
	}
	
	a.link:visited {
	text-decoration: none;
	color: #fff;
	}
	
	a.active {
	text-decoration: underline;
	color: #fff;
	}


/** containers **/

	.fixed-container {
	width: 960px;
	height: auto;
	margin: auto;
	padding: 0;
	}
	
	#navigation {
	margin: 2em 0 7em 0;
	padding: 0;
	}
	
	#navigation a {
	margin-left: 2em;
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	font-size: 1em;
	}
	
	#navigation a.first-link {
	margin-left: 0;
	}
	
	.title {
	margin: 0 0 3em 0;
	padding: 0;
	text-align: center;	
	}
	
	.main-graphic {
	margin: 0 0 2em 0;
	padding: 0;
	width: 100%;
	height: auto;
	}
	
	.in-text-image {
	margin: 2em 0 2em 0;
	padding: 0;
	width: 100%;
	height: auto;
	}
	
	.main {
	display: block;
	width: 720px;
	height: auto;
	margin: auto;
	padding: 0;
	}

	.end-mark {
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-size: 2em;
	margin: 3em 0 3em 0;
	text-align: center;
	}
	
	.further-info {
	margin: 0 0 11em 0;
	}
	
	.footer {
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.2;
	margin: 0 0 2em 0;
	}
	
	.footer a {
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	font-size: 1em;
	color: #f8a081;
	}
	
	.footer a:hover {
	color: #f8a081;
	text-decoration: underline;
	}

/** assets **/


